@charset "utf-8";

@keyframes bubble {
    0% {
        opacity: 1; 
    }
    10% {
        transform: translate(20px, -50px) scale(.7);
        
    }
    20% {
        transform: translate(-20px, -150px) scale(1.5);
    }
    30% {
        transform: translate(30px, -300px);
    }
    50% {
        transform: translate(-40px, -500px) scale(1);
    }
    
    70% {
        transform: translate(50px, -700px);
        
    }
    90% {
        transform: translate(-20px -1200px);
        
    }
    95% {
        transform: translate(-20px -1500px);
    
    }
    100% {
        transform: translateX(px20);
        bottom: 1500px;
        opacity: 0;
       
    }
}

.awa1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-style: dotted;
    border-width: 3px;
    border-color: #fff;
    position: relative;
    bottom: -50%;
    right: -5%;
    opacity: 0;

    animation-name: bubble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}  

.awa2 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: dotted;
    border-width: 3px;
    border-color: #fff;
    position: relative;
    bottom: -50%;
    right: -2%;
    opacity: 0;

    animation-name: bubble;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 2s;
}  

.awa3 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: dotted;
    border-width: 4px;
    border-color: #fff;
    position: relative;
    bottom: -50%;
    left: 5%;
    opacity: 0;

    animation-name: bubble;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 1s;
}  


.awa4 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: dotted;
    border-width: 3px;
    border-color: #fff;
    position: relative;
    bottom: -50%;
    left: 8%;
    opacity: 0;

    animation-name: bubble;
    animation-duration: 2.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: .5s;
} 


@keyframes logo {
    0% {
        transform:translate(0, 0) rotate(-7deg) scale(1.4);
        fill: lightskyblue;  
      }
      50% {
        transform:translate(0, -7px) rotate(0deg) scale(1.7);
        fill: lightskyblue;
      }
 
      100% {
        transform:translate(0, 0) rotate(7deg) scale(1.5);
        fill: rgb(14, 110, 199);
      }
}

@keyframes logoActive {
    0% {
        transform:translate(0, 0) rotate(-7deg) scale(15);
        fill: lightskyblue;  
        opacity: 1;
      }
      50% {
        transform:translate(0, 0) rotate(-7deg) scale(11);
        fill: lightskyblue;  
        opacity: 1;
      }
 
      100% {
        transform:translate(0, 0) rotate(-7deg) scale(1.4);
        fill: lightskyblue;  
        opacity: .3;
      }
}

.logo.active {
    position: relative;
    fill: lightskyblue;
    right: 5%;

    animation-name: logoActive;
    animation-duration: 5.3s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: 1;
    animation-direction: alternate;

}

.logo {
    position: relative;
    fill: lightskyblue;
    right: 5%;

    animation-name: logo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}